	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:12
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./shields/Flaticon.eot");
  src: url("./shields/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./shields/Flaticon.woff") format("woff"),
       url("./shields/Flaticon.ttf") format("truetype"),
       url("./shields/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./shields/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-arabian-shield:before { content: "\f100"; }
.flaticon-classic-shield:before { content: "\f101"; }
.flaticon-eagle-shield:before { content: "\f102"; }
.flaticon-security-shield:before { content: "\f103"; }
.flaticon-security-shield-1:before { content: "\f104"; }
.flaticon-shield:before { content: "\f105"; }
.flaticon-shield-1:before { content: "\f106"; }
.flaticon-shield-2:before { content: "\f107"; }
.flaticon-shield-with-castle-inside:before { content: "\f108"; }
.flaticon-shield-with-cross:before { content: "\f109"; }
.flaticon-shield-with-cross-1:before { content: "\f10a"; }
.flaticon-shield-with-crown:before { content: "\f10b"; }
.flaticon-shield-with-curved-lines:before { content: "\f10c"; }
.flaticon-shield-with-diagonal-bars:before { content: "\f10d"; }
.flaticon-shield-with-hospital-symbol:before { content: "\f10e"; }
.flaticon-shield-with-star:before { content: "\f10f"; }
.flaticon-shield-with-sword:before { content: "\f110"; }
.flaticon-shield-with-swords:before { content: "\f111"; }
.flaticon-shield-with-twig:before { content: "\f112"; }
.flaticon-usa-shield:before { content: "\f113"; }