 body {
   margin: 0;
   padding: 20px 0 20px 0;
   font-family: 'Source Sans Pro', sans-serif;
 }

 #content {
   padding: 52px 40px 50px 40px;
   text-align: center;
 }

 .is-disabled {
   background-color: #dbdbdb !important;
   border: none !important;
   cursor: default !important;
   color: #b5b5b5 !important
 }

 .card-height {
  height: 41em;
 }
